
<div class="card" style="width: 18rem;" *ngFor="let dc of getdc">

  <div class="card-body">
    <h5 class="card-title">{{dc.name}}</h5>
    <p class="card-text">Join Data : {{dc.joindate}}
      <p class="card-text">Date of Birth : {{dc.dob}}
        <p class="card-text">Address : {{dc.address}}
          <p class="card-text"> Specialist : <strong>{{dc.specialist}}</strong>
            <p class="card-text">Mobile : {{dc.mobile}}
              <p class="card-text">Email : {{dc.email}}
                <p class="card-text">Job Id : {{dc.jobid}}
    </p>
    
  </div>
</div>