.contain{
    height: 100%;
    width : 100%;

    

}
.left{
    height: 100%;
    width : 100%;
    float: left;
    padding-left: 20px;
    padding-right: 100px;
}
/* .right{
    height: 100%;
    width : 70%;
    float: left;
    padding-left: 10px;
    
    background-size: 100% 100%;
} */